/* App.css */

/* 全局设置 */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f8f9fa; /* 轻背景色 */
  margin: 0;
  padding: 0;
  color: #333; /* 主文本颜色 */
}

/* 卡片样式 */
.card {
  border: none;
  border-radius: 0.5rem; /* 圆角 */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* 轻微阴影 */
}

/* 按钮样式 */
.btn {
  border-radius: 0.5rem; /* 圆角 */
}

/* 列表项样式 */
.list-group-item {
  transition: background-color 0.3s ease; /* 过渡效果 */
}

.list-group-item:hover {
  background-color: #e9ecef; /* 悬停背景颜色 */
}

/* 自定义警告框 */
.alert {
  border-radius: 0.5rem; /* 圆角 */
}

/* 统一间距 */
.mt-5 {
  margin-top: 3rem; /* 顶部间距 */
}

/* 页面头部样式 */
h2 {
  color: #007bff; /* 主标题颜色 */
  font-weight: bold; /* 加粗 */
  margin-bottom: 2rem; /* 下方间距 */
}

/* 输入框样式 */
.form-control {
  border-radius: 0.5rem; /* 圆角 */
}

/* 页脚样式 */
.footer {
  text-align: center;
  padding: 1rem;
  background-color: #007bff; /* 主色 */
  color: white; /* 字体颜色 */
  position: fixed;
  bottom: 0;
  width: 100%;
}

#map {
  height: 250px; /* The height is 400 pixels */
  width: 100%; /* The width is the width of the web page */
}

.main-content {
  margin-bottom: 70px; /* 确保内容不被 Footer 遮挡，调整为 Footer 的高度 */
}