body {
  background-color: #000;
  margin: 0;
  font-family: sans-serif;
}

.ag-format-container {
  width: 100%;
  margin: 0 auto;
  min-width: 1200px;
}

.ag-courses_box {
  display: flex;
  flex-wrap: wrap;
  padding: 50px 0;
  align-items: flex-start;
}

.ag-courses_item {
  flex-basis: calc(33.33333% - 30px);
  margin: 0 15px 30px;
  border-radius: 28px;
  overflow: hidden;
  position: relative;
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* 添加平滑动画 */
}

.ag-courses-item_link {
  display: block;
  padding: 30px 20px;
  background-color: #121212;
  overflow: hidden;
  position: relative;
  text-decoration: none;
  color: #fff;
  border-radius: 28px;
}

/* 悬停时放大和漂浮 */
.ag-courses_item:hover {
  transform: translateY(-10px) scale(1.05); /* 上浮并放大 */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3); /* 添加阴影 */
}

.ag-courses-item_bg {
  height: 128px;
  width: 128px;
  background-color: #f9b234;
  z-index: 1;
  position: absolute;
  top: -75px;
  right: -75px;
  border-radius: 50%;
  /* 初始缩放为1，并从右上角为变换基点 */
  transform: scale(1);
  transform-origin: top right;
  transition: transform 0.5s ease; 
  z-index: 1;
}

.ag-courses-item_link:hover .ag-courses-item_bg {
  transform: scale(10);
}

.ag-courses-item_title {
  min-height: 87px;
  margin: 0 0 25px;
  font-weight: bold;
  font-size: 30px;
  color: #FFF;
  z-index: 2;
  position: relative;
}

.ag-courses-item_date-box {
  font-size: 18px;
  color: #FFF;
  z-index: 2;
  position: relative;
  margin-top: 10px;
}

.ag-courses-item_date {
  font-weight: bold;
  color: #f9b234;
  transition: color 0.5s ease;
}

.ag-courses-text {
  color: #f9b234;
}

.ag-courses-item_link:hover .ag-courses-text {
  color: #fbfbfb;
}

/* 不同卡片可通过 nth-child 改变圆形颜色 */
.ag-courses_item:nth-child(2n) .ag-courses-item_bg {
  background-color: #3ecd5e;
}
.ag-courses_item:nth-child(3n) .ag-courses-item_bg {
  background-color: #e44002;
}
.ag-courses_item:nth-child(4n) .ag-courses-item_bg {
  background-color: #952aff;
}
.ag-courses_item:nth-child(5n) .ag-courses-item_bg {
  background-color: #cd3e94;
}
.ag-courses_item:nth-child(6n) .ag-courses-item_bg {
  background-color: #4c49ea;
}

.ag-courses-item_title,
.ag-courses-item_date-box,
.ag-courses-item_button {
  z-index: 3;
  position: relative;
  color: #fff; /* 确保文字为白色 */
}

.ag-courses-item_date {
  color: #f9b234; /* 或者根据需要保持原样 */
}

.ag-courses-item_button {
  z-index: 3;
  position: relative;
}

/* 响应式 */
@media only screen and (max-width: 979px) {
  .ag-courses_item {
    flex-basis: calc(50% - 30px);
  }
  .ag-courses-item_title {
    font-size: 24px;
  }
}

@media only screen and (max-width: 767px) {
  .ag-format-container {
    width: 96%;
  }
}

@media only screen and (max-width: 639px) {
  .ag-courses_item {
    flex-basis: 100%;
  }
  .ag-courses-item_title {
    min-height: 72px;
    line-height: 1;
    font-size: 24px;
  }
  .ag-courses-item_link {
    padding: 22px 40px;
  }
  .ag-courses-item_date-box {
    font-size: 16px;
  }
}
